################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.sqlite
*.suo
*.lock
*.ide
*.ide-shm
*.ide-wal
*.testlog
*.manifest
/.vs/ProjectSettings.json
