################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.sqlite
*.suo
*.lock
*.ide
*.ide-shm
*.ide-wal
*.testlog
*.manifest
/.vs/ProjectSettings.json
*.dtbcache
/bin/Debug/netcoreapp3.1/*
/Debug/netcoreapp3.1/*
/obj/*
/TestUtilities/obj/Debug/netcoreapp3.1/*